.navbar-skelton {
  background-color: #99CCFF;
  opacoty: 0.8;
  border-color: transparent !important;
  li{
    a{
    color: #fff !important;
    }
  }
  .glyphicon{
  color: #fff !important;
  }
}

.navbar-skelton-font-color {
 color: #acacff !important;
}

.header-title{
  font-size:30px;
  color: white;
}

