// Place all the styles related to the top controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body{
 background-color: #f6f6f6;
 background-size:cover;
 font-family: Verdana;
}

.container{
  margin-top: 100px;
}

.no-results-color{
  color: red;
}

.none-display{
  display:none;
}

.sidebar-left{
 	margin-right: 50px;
}

.no-border {
 border: none;
}


// 以下bootstrapのoverride
.search-panel-heading{
	background-color: #f6f6f6 !important;
	border-color: #f6f6f6 !important;
}

.search-btn{
	background-color: #99CCFF;
	color: white;
	margin: auto;
	width:60%;
	font-size: 20px;
}

.search-input-group{
	margin:auto;
	width:60%;
}

.search-form-control{
	height:50px;
}

.search-form-btn{
	padding-top:  10px;
  width: 30%;
}
