%body
  %header
    %nav.navbar.navbar-default.navbar-fixed-top.navbar-blue.navbar-skelton
      .container-fluid
        %center.center-block.navbar-center
          %a{href: "/"}
            %center
              = image_tag "cooltext284578033948975.png", alt: "試聴くん", height: "50px", width: "200px"
